.mainDiv {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: #1e1e27;
  padding: 0 200px;
  align-items: center;
}

.plainText {
  text-transform: uppercase;
  color: #b5aec4;
}

.leftDiv {
  display: flex;
  list-style: none;
  gap: 50px;
}

.leftDiv li {
  position: relative;
  align-items: center;
}

.leftDiv li button {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #b5aec4;
  border: none;
  cursor: pointer;
}

.leftDiv li ul {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #2e2e38;
  border: 1px solid #444;
  color: #b5aec4;
  padding: 0;
  list-style: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s, transform 0.2s;
  z-index: 10;
  min-width: 150px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.leftDiv li ul li {
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.leftDiv li ul li:hover {
  background-color: #444;
}

.leftDiv li ul.open {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 10%);
}

.currency,
.languages,
.accounts {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .mainDiv {
    height: 45px;
    width: 100%;
  }
}
