.mainDiv {
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: #1e1e27;
}

.plainText {
  display: flex;
  text-transform: uppercase;
  color: #b5aec4;
}

.leftDiv {
  display: flex;
  list-style: none;
  color: #b5aec4;
}

.leftDiv li {
  gap: 20px;
}

.leftDiv li button {
  display: flex;
  align-items: center;
  background-color: red;
}

.leftDiv ul {
  align-items: center;
  justify-content: center;
  background-color: red;
  visibility: visible;
}

.leftDiv ul li {
  
}

.currency, .languages, .accounts {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .mainDiv {
    flex-direction: row;
    justify-content: space-between;
    height: 45px;
  }

  .plainText {
    margin-left: 15%;
    margin-top: 10px;
  }

  .comboboxCurr {
    margin-top: 5px;
    margin-left: 40%;
  }

  .comboboxLang {
    margin-top: 5px;
    margin-right: 15%;
  }
}
