.mainDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
  margin-top: 1.5rem;
  height: 3rem;
  border-radius: 0.375rem;
  background-color: #334155;
}

.mainDiv:hover {
  cursor: pointer;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  color: white;
}

.content {
  color: white;
}
