.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(0, 0, 0);
  overflow: hidden;
}

.topic {
  position: absolute;
  top: 35%;
  left: 20%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
}

.text1,
.text2 {
  position: absolute;
  left: 20%;
  transform: translateX(-50%);
  font-weight: 500;
  font-size: 3rem;
}

.text1 {
  top: 40%;
}

.text2 {
  top: 48%;
}

.shop {
  position: absolute;
  top: 60%;
  left: 20%;
  transform: translateX(-50%);
  background-color: red;
  padding: 8px 30px;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 3px;
  transition: 0.3s;
  cursor: pointer;
}

.shop:hover {
  background-color: rgb(194, 94, 94);
}

@media (max-width: 768px) {
  .topic {
    font-size: 1rem;
    top: 28%;
  }

  .text1,
  .text2 {
    left: 35%;
  }

  .text1 {
    top: 38%;
  }

  .text2 {
    top: 45%;
  }

  .shop {
    top: 55%;
    padding: 6px 25px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .topic {
    font-size: 0.6rem;
    top: 20%;
    left: 30%;
  }

  .text1,
  .text2 {
    font-size: 1.5rem;
  }

  .text1 {
    top: 35%;
  }

  .text2 {
    top: 65%;
  }

  .shop {
    top: 50%;
    padding: 5px 20px;
    font-size: 0.8rem;
  }
}
