.popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #2a9739;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  width: auto;
  color: #fff;
  text-align: left;
  opacity: 1;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.animateIn {
  animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
