.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  height: auto;
  background-color: white;
  border-bottom: 1px solid rgb(202, 197, 197);
}

.logo {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.red {
  color: red;
}
.logo:hover {
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.nav div:hover {
  color: rgb(153, 153, 153);
}

.nav div::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: red;
  transform: scaleX(0);
  transform-origin: right;
}

.iconsDiv {
  display: flex;
  justify-content: center;
}

.iconsDiv div {
  display: flex;
  gap: 15px;
  font-size: 18px;
}

.icons {
  padding: 8px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.3s;
}

.icons:hover {
  background-color: #f1f1f1;
}

/* .checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fe4c50;
  font-size: 12px;
  color: #ffffff;
} */

@media (min-width: 768px) {
  .mainDiv {
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    padding: 0 20px;
  }

  .logo {
    margin-left: 15%;
    font-size: 24px;
  }

  .nav {
    gap: 40px;
    font-size: 14px;
    margin-left: 20%;
  }

  .iconsDiv {
    margin-right: 15%;
  }

  .icons {
    padding: 10px;
    font-size: 24px;
  }
}
